<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @license.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @license.short_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @license.url %>
</p>

<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
