<p id="notice"><%= notice %></p>

<h1>Programming Languages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programming_languages.each do |programming_language| %>
      <tr>
        <td><%= programming_language.name %></td>
        <td><%= programming_language.url %></td>
        <td><%= link_to 'Show', programming_language %></td>
        <td><%= link_to 'Edit', edit_programming_language_path(programming_language) %></td>
        <td><%= link_to 'Destroy', programming_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programming Language', new_programming_language_path %>
