<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Slung:</strong>
  <%= @country.slung %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @country.flag %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
